body{

  margin: 0;
  padding: 0;
  
}
  
.logo_img {
  padding-left: 14%;
    width: 35%;
    height: 15%;
    padding-top: 22%;
}
.image_money {
  margin-top: 35%;
  padding-right: 50px;
  font-size: large;
}
.main{  
  
  display: flex;
  
}
  .decentrlized {
      margin-top: 20%;
    margin-left: 130px;
    
    
  }
  .contrct {
    margin-left: 35%;
    margin-top: auto;
    font-size: 10px;

  }
  .smrt{
    margin-right: 10%;
    font-size: 10px;
  }
  .best{
      color: red;
      font-size: 50px;
  }
  .community{
    color: black;
      font-size: 50px;
  }
  .verified {
      color: red;
      font-size: 40px;
  }
  .daily{
      color: black;
      font-size: 40px;
  }
  .smart {
    color: black;
    margin-left: 130px;
    margin-top: 15%;
  }
  
  .button{
    margin-left: 130px;

  }
  .vrtl{
      border: 3px solid red;
      background-color: red;
      border-radius: 2px;
      width: 30%;
      margin-left: 10%;
  }
  .vrtl2{
    border-radius: 2px;
    border: 3px solid red;
    width: 30%;
    background-color: red;
  }
  .bi {
      margin-left: 20%;
      font-weight: bold;
      font-size: 20px;
  }
  .tron {
    margin-left: 13%;
    font-weight: bold;
    font-size: 20px;
  }
  .button_div{
  margin-left: 110px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  padding-bottom: 30%;
}
.tele{
    background-color: skyblue;
    border-radius: 10px;
    width: 25%;
    margin-left: 15px;
    height: 80px;
}
.smart_contract {
    background-color: palevioletred;
    width: 25%;
    height: 80px;
    border-radius: 10px;
}

.main2 {

 padding-bottom: 20%;
  height: 20%;
  background-color: #111113;
  color: lightcoral;
}
.global {
  text-align: center;
  padding-top: 25px;
  font-family: sans-serif;
}

.three_div {
  padding-left: 110px;
  text-align: center;
  margin-top: 60px;
  display: flex;
  justify-content: space-around;
  padding-right: 110px;
  
  
}

.total_trx {
  border-radius: 4px;
  height: 240px;
  width: 30%;
  background-color:#212529;


}
.total_invested {
  border-radius: 4px;
  height: 240px;
  width: 30%;
  background-color:#212529;
}
.total_dividen{
  border-radius: 4px;
  height: 240px;
  width: 30%;
  background-color:#212529;
}
.inner_trx{
  
  margin-top: 16%;
    font-size: 24px;
    color: cyan

}
.inner_investor{
  margin-top: 16%;
    font-size: 24px;
    color: lightgreen;

}
.inner_divide{
  margin-top: 16%;
  font-size: 24px;
  color: lightgreen;
  color: yellow;

}

.forth_div {

  border-radius: 6px;
  padding-top: 1%;
  margin-top: 3%;
  color: black;
  margin-left: 8%;
    padding-left: 10%;
    background-color:#212529;
    width: 30%;
    

}
.daily_invst h1 {
  font-family: sans-serif;
  color: lightcoral;

}
.daily_return p {
  padding-left: 16%;
    color: darkgray;
    font-size: 19px;
  color: darkgray;
  margin-top: 20px;
}
.daily_return input {
  font-size: large;
  font-size: xx-large;
    width: 50%;
}
.forth-button {
  border-radius: 2px;
  margin-left: 4%;
  width: 43%;
  height: 51px;
  margin-top: 2%;
  border: 3px solid white;
  background-color: #28a745;
 
}
.forth-button button {
  margin-left: 30%;
  margin-top: 8%;
  font-size: large;
background-color:#28a745;
  border: none;
  color: white;
}
.transaction {
  color: gray;
}

.center_towdiv {
  display: flex;
}
.fifth_div{
  margin-top: 3%;
  background-color: #212529;
  margin-left: 5%;
  width: 39%;
  margin-bottom: 3%;
  border-radius: 4px;

}
.daily_divi  {
  text-align: center;
}
.daily_divi  h1{
  color: lightcoral;
  font-family: sans-serif;
    margin-top: 6%;
}
.daily_divi p {
  font-size: large;
  color: gray;
}
.daily_divi h5 {
color: gray;
}
.fifth-button {
  border: 3px solid white;
  border-radius: 4px;
  margin-left: 34%;
  width: 33%;
  height: 48px;
  margin-top: 8%;
  background-color: red;
}
.fifth-button button{
     
     margin-top: 6%;
     background-color: red;
     border: none;
     color: white;
     font-size: larger;
}
.six_div{
  text-align: center;
    margin-top: 1%;
    background-color: #212529;
    margin-left: 8%;
    width: 40%;
    margin-bottom: 0%;
    border-radius: 4px;
    height: 170px;
    padding-top: 1%;
}
.six_div p {
  color: gray;
  font-size: larger;

}
 .last_img {
  display: flex;
} 
.inves_nm {
  margin-left: 6%;
}
.account_select {
  text-align: center;
  padding-top: 8%;
  color: gray;
  font-size: large;
}
.Referra_Status {
  text-align: center;
  color: lightcoral; 
  padding-top: 2%;
  font-family: auto;
}
.referal {
  font-size: unset;
  display: flex;
  padding-left: 44%;
  color: gray;
  
    
}
.referal img{
  margin-top: 2%;
  margin-left: 2%
}
.level_3{
  padding-right: 3%;
text-align: center;
margin-top: 60px;
display: flex;
justify-content: space-around;
}
.reward_10 {
  border-radius: 6px 6px 6px 6px;
  margin-right: auto;
  border: 4px solid #007bff;
  width: 31%;
  margin-left: 3%;
}
.reward_6 {
  border-radius: 6px 6px 6px 6px;
  margin-right: auto;
  border: 4px solid #007bff;
  width: 31%;
  margin-left: 3%;
}
.reward-5 {
  border-radius: 6px 6px 6px 6px;
  margin-right: auto;
  border: 4px solid #007bff;
  width: 31%;
  margin-left: 3%;
}
.level_3 h2 {
  color: lightcoral; 
}
.inpt_cpy {
  
  padding-left: 20%;
  padding-top: 5%;
    display: flex;
}
.inpt_cpy input {
  background-color: #111113;
  width: 68%;
  border-radius: 4px 4px 4px 4px;
  border:2px solid lightgoldenrodyellow;
}
.cpy-hed {
  text-align: center;
  width: 6%;
  border-radius: 4px 4px 4px 4px;
  border:2px solid lightgoldenrodyellow;
  background-color:#111113;
 color: lightcoral;  
}
.two_para {
  margin-top: 2%;
  font-size: larger;
  text-align: center;
  color: gray;
  
}

.link_head {
  
padding-top: 10px;
  font-size: large;
  text-align: center;
  color: lightcoral; 

}
.href_pdf {
  font-size:x-large;
  color: lightcoral; 
}
.bi_tron {
  text-align: center;
  padding-top: 4%;
  color: gray;
}
.daily_return h1{
  color: lightcoral; 
}
.crypto_wallet{
  padding-top: 1%;
    text-align: center;
    margin-left: 14%;
    width: 35%;
    color: gray;
    background-color: #212529;
    padding-bottom: 5%;
    font-size: x-large;
    border-radius: 6px 6px 6px 6px;
}
.smart-contract {
  font-size: x-large;
    padding-top: 1%;
    text-align: center;
    width: 35%;
    color: gray;
    background-color: #212529;
    margin-left: 2%;
    border-radius: 6px 6px 6px 6px;
}
.four_card {
  padding-top: 1%;
  display: flex;
}
.four_card h1 {
  font-family: monospace;
  color: lightcoral; 

}





