body{

  margin: 0;
  padding: 0;
  
}
  
.logo_img {
  padding-left: 14%;
    width: 35%;
    height: 15%;
    padding-top: 22%;
}
.image_money {
  margin-top: 35%;
  padding-right: 50px;
  font-size: large;
}
.main{  
  
  display: flex;
  
}
  .decentrlized {
      margin-top: 20%;
    margin-left: 130px;
    
    
  }
  .contrct {
    margin-left: 35%;
    margin-top: auto;
    font-size: 10px;

  }
  .smrt{
    margin-right: 10%;
    font-size: 10px;
  }
  .best{
      color: red;
      font-size: 50px;
  }
  .community{
    color: black;
      font-size: 50px;
  }
  .verified {
      color: red;
      font-size: 40px;
  }
  .daily{
      color: black;
      font-size: 40px;
  }
  .smart {
    color: black;
    margin-left: 130px;
    margin-top: 15%;
  }
  
  .button{
    margin-left: 130px;

  }
  .vrtl{
      border: 3px solid red;
      background-color: red;
      border-radius: 2px;
      width: 30%;
      margin-left: 10%;
  }
  .vrtl2{
    border-radius: 2px;
    border: 3px solid red;
    width: 30%;
    background-color: red;
  }
  .bi {
      margin-left: 20%;
      font-weight: bold;
      font-size: 20px;
  }
  .tron {
    margin-left: 13%;
    font-weight: bold;
    font-size: 20px;
  }
  .button_div{
  margin-left: 110px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  padding-bottom: 30%;
}
.tele{
    background-color: skyblue;
    border-radius: 10px;
    width: 25%;
    margin-left: 15px;
    height: 80px;
}
.smart_contract {
    background-color: palevioletred;
    width: 25%;
    height: 80px;
    border-radius: 10px;
}

.main2 {
  height: 20%;
  background-color: #111113;
    color: red;
}
.global {
  text-align: center;
  padding-top: 25px;
  font-family: sans-serif;
}

.three_div {
  padding-left: 110px;
  text-align: center;
  margin-top: 60px;
  display: flex;
  justify-content: space-around;
  padding-right: 110px;
  
  
}

.total_trx {
  border-radius: 4px;
  height: 240px;
  width: 30%;
  background-color:#212529;


}
.total_invested {
  border-radius: 4px;
  height: 240px;
  width: 30%;
  background-color:#212529;
}
.total_dividen{
  border-radius: 4px;
  height: 240px;
  width: 30%;
  background-color:#212529;
}
.inner_trx{
  
  margin-top: 16%;
    font-size: 24px;
    color: cyan

}
.inner_investor{
  margin-top: 16%;
    font-size: 24px;
    color: lightgreen;

}
.inner_divide{
  margin-top: 16%;
  font-size: 24px;
  color: lightgreen;
  color: yellow;

}

.forth_div {
  padding-top: 1%;
  margin-top: 3%;
  color: black;
  margin-left: 8%;
    padding-left: 8%;
    background-color:#212529;
    width: 30%;
    padding-bottom: 6%;

}
.daily_return h1 {
  font-family: sans-serif;
  color: rgb(187, 64, 64);

}
.daily_return p {
  padding-left: 16%;
    color: darkgray;
    font-size: 19px;
  color: darkgray;
}
.daily_return input {
  font-size: large;
  font-size: xx-large;
    width: 50%;
}